{% capture hardwarePageUrl %}/{{page.lang}}/hardware/{% endcapture %}

{% include components/header-skew.html
  image=site.data.pages.software.overview.header.image
  title=site.data.pages.software.overview.header.title
  subtitle=site.data.pages.software.overview.header.subtitle
  gacategory="softwareIntro"
  class="softwarePage"

  primarytext=site.data.pages.software.overview.header.buttontext
  primarylink=site.data.pages.software.overview.header.buttonlink
  primarygaaction="requestDemo"

  herodescription=site.data.pages.software.overview.header.description
%}

{% include components/feature-loop.html features=site.data.pages.software.overview.features %}

<section id="usecases" class="padded">
  <div class="container">
    <h1 class="text-center section-title">Usecases</h1>
    {% include components/usecases.html %}
    <!--<button ga-event-category="usecases" ga-event-action="more" class="block-center section-btn">weitere usecases</button>-->
  </div>
</section>

<section id="overview-hardware" class="paddedTop gray section-a">
  {% assign content = site.data.pages.home.hardware %}{% capture hardwarePageUrl %}/{{page.lang}}/hardware/{% endcapture %}
  {% capture hardwarePageUrl %}/{{page.lang}}/hardware/{% endcapture %}
  {% include components/feature-section.html
      title=content.title
      subtitle=content.subtitle
      description=content.description
      image=content.image
      cta=site.data.base.texts.more
      ctalink=hardwarePageUrl

      gacategory="hardware"
      gaaction="more"
  %}
</section>

<section id="cta" class="section-even orange verypadded">
  <div class="container flexcontainer row middle spacebetween">
    <div class="section-text">
        <h1 class="h1-white">{{site.data.pages.software.overview.cta.headline[page.lang]}}</h1>
        <p>{{site.data.pages.software.overview.cta.text[page.lang]}}</p>
    </div>
    <div class="section-image">
      <a href="#contact" ga-on="click" ga-event-category="software" ga-event-action="requstdemo"><button class="btn-white cta-highlight">
        {{site.data.pages.software.overview.cta.buttontext[page.lang]}}
      </button></a>
    </div>
  </div>
</section>

<section id="customers" class="padded">
  <div class="container">
    <h1 class="text-center section-title">{{ site.data.pages.software.overview.customers[page.lang] }}</h1>
    {%
      include components/customers.html
      tags='software'
    %}
  </div>
</section>

{% include components/newsletter.html %}

<section id="team">
  <div class="container">
    <div class="flexcontainer row middle space-around">
      <a href="/{{page.lang}}/about/"><button ga-event-category="team" ga-event-action="more">{{ site.data.pages.home.teammore[page.lang] }}</button></a>
      {% include components/image.html image="/img/team-image.png" class="team-image"%}
    </div>
  </div>
</section>
