<nav>
  <div class="container">
    <div class="wrapper">
      <a href="/{{page.lang}}/">
        {% include components/image.html image="/img/tl-logo.png" class="logo"%}
      </a>
      <input ga-on="click" ga-event-category="nav" ga-event-action="toggle" type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="label-toggle"></label>
      </input>

      <ul>
        {% for navitem in site.data.base.navigation %}
          {% capture pageUrl %}/{{page.lang}}/{{navitem.url}}{% endcapture %}

          <li
            {% if page.url == pageUrl %}
            class="active"
            {% endif %}
          >
            <a ga-on="click" ga-event-category="nav" ga-event-action="{{navitem.gaaction}}" class="nav-text" href={{pageUrl}} >{{navitem.title}}</a>
          </li>
        {% endfor %}
        <li class="language-toggle-menu">
            <a ga-on="click" ga-event-category="nav" ga-event-action="english" class="nav-text" href="{{currentEN}}">English</a>
             |
            <a ga-on="click" ga-event-category="nav" ga-event-action="german" class="nav-text" href="{{currentDE}}">Deutsch</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="language-toggle">
    <a ga-on="click" ga-event-category="nav" ga-event-action="english" href="{{currentEN}}">English</a>
     |
    <a ga-on="click" ga-event-category="nav" ga-event-action="german" href="{{currentDE}}">Deutsch</a>
  </div>
</nav>

<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cookie-banner">
  <!--googleoff: all-->
  <span id="cookieconsent:desc" class="cc-message">{{ site.data.base.cookie.description[page.lang] }}
    <a aria-label="learn more about cookies" tabindex="0" class="cc-link" href="http://cookiesandyou.com" target="_blank">{{ site.data.base.texts.more[page.lang] }}</a>
  </span>
  <button id="accept-cookie" aria-label="dismiss cookie message" role="button" tabindex="0">{{ site.data.base.cookie.accept[page.lang] }}</button>
  <!--googleon: all-->
</div>
