<!--<section id="home">
<video autoplay src="videos/background.webm" poster="images/IMG_6530.JPG" id="bgvid" loop>
</video>-->

{% include components/quote.html %}

<section id="home" class="ui page one column grid stackable">
  {% include components/fold.html %}
</section>

<section id="nova">
  {% include components/features.html %}

  {% include components/questions.html %}

  {% include components/customers.html %}
</section>

<section id="newsletter" class="ui blue very padded segment full-segment inverted">
  {% include components/newsletter.html %}
</section>

</div> <!-- TODO: ugly, main div should be declared in this file too -->

<section id="team">
  {% include components/team.html %}
</section>

<section id="blog">
  {% include components/blog.html %}
</section>

<section id="social">
  {% include components/social.html %}
</section>
