{% capture hardwarePageUrl %}/{{page.lang}}/hardware/{% endcapture %}
{% capture softwarePageUrl %}/{{page.lang}}/software/{% endcapture %}

{% include components/header-skew.html
  image=site.data.pages.home.header.image
  title=site.data.pages.home.header.title
  subtitle=site.data.pages.home.header.subtitle
  gacategory="mainIntro"

  primarytext=site.data.base.texts.playvideo
  primarylink=site.data.pages.home.header.video
  primarylity=true
  primarygaaction="playVideo"

  secondarytext=site.data.base.texts.more
  secondarylink=hardwarePageUrl
  secondarygaaction="more"
%}


<section id="about">
  <div class="container">
    <div class="hero-wrapper">
      <p class="hero-text">{{ site.data.pages.home.vision[page.lang] }}</p>
    </div>
    <div class="flexcontainer row middle space-around">
      <a href="/{{page.lang}}/about/"><button ga-event-category="team" ga-event-action="more">{{ site.data.pages.home.teammore[page.lang] }}</button></a>
      {% include components/image.html image="/img/team-image.jpg" class="team-image"%}
    </div>
  </div>
</section>

<section id="usecases" class="padded gray">
  <div class="container">
    <h1 class="text-center section-title">Usecases</h1>
    {% include components/usecases.html %}
    <!--<button ga-event-category="usecases" ga-event-action="more" class="block-center section-btn">weitere usecases</button>-->
  </div>
</section>

<section id="overview-software" class="padded section-a">
  {% assign content = site.data.pages.home.software %}
  {% include components/feature-section.html
      title=content.title
      subtitle=content.subtitle
      description=content.description
      image=content.image
      cta=site.data.base.texts.more
      ctalink=softwarePageUrl

      gacategory="software"
      gaaction="more"
  %}
</section>

<section id="overview-hardware" class="padded section-b gray">
  {% assign content = site.data.pages.home.hardware %}
  {% include components/feature-section.html
      title=content.title
      subtitle=content.subtitle
      description=content.description
      image=content.image
      cta=site.data.base.texts.more
      ctalink=hardwarePageUrl

      gacategory="hardware"
      gaaction="more"
  %}
</section>

{% include components/newsletter.html %}

<section id="customers" class="padded">
  <div class="container">
    <h1 class="text-center section-title">{{ site.data.pages.home.customers[page.lang] }}</h1>
    {% include components/customers.html %}
  </div>
</section>
