<h1>{{ site.data.pages.press.text.title[page.lang] }}</h1>

<p>{{ site.data.pages.press.text.welcome[page.lang] }}</p>
<section id="press" class="ui page one column grid stackable very padded segment basic">
  <div class="column">
    <h2>{{ site.data.pages.press.text.headlinephotos[page.lang] }}</h2>
    <ul>
      {% for photo in site.data.press.photos %}
        <li><a href="{{photo.link}}" ga-on="click" ga-event-category="press" ga-event-action="{{photo.title}}">{{photo.title}}</a></li>
      {% endfor %}
    </ul>
    <br />
    <h2>Branding Guidlines</h2>

    <h3>Naming</h3>
    <p>{{ site.data.pages.press.text.naming[page.lang] }}</p>

    <br/>

    <h3>{{ site.data.pages.press.text.headlinecolors[page.lang] }}</h3>
      <div class="flexcontainer row color-dots text-center">
        <div class="width: 25%;">
          <span class="color-dot" style="background-color: rgb(51, 51, 51);"></span>
          <br/><b>Dark</b><br/>
          #333333<br/>
          51, 51, 51
        </div>
        <div class="width: 25%;">
          <span class="color-dot" style="background-color: rgb(241, 241, 241);"></span>
          <br/><b>Gray</b><br/>
          #F1F1F1<br/>
          241, 241, 241
        </div>
        <div class="width: 25%;">
          <span class="color-dot" style="background-color: rgb(255, 255, 255);"></span>
          <br/><b>White</b><br/>
          #FFFFFF<br/>
          255, 255, 255
        </div>
        <div class="width: 25%;">
          <span class="color-dot" style="background-color: rgb(50, 147, 199);"></span>
          <br/><b>Blue</b><br/>
          #3293C7<br/>
          50, 147, 199
        </div>
      </div>

          <br/>

    <h3>Logo</h3>
      <div class="flexcontainer row">
        <div style="max-width: 200px; padding: 1em 2em 1em 0;">
          <img src="{{site.url}}/img/press/logo_flat_white_transp.png" style="background: #ccc; width: 100%;" alt="Transparent Logo"/>
          <br/>Transparent white (<a href="{{site.url}}/img/press/logo_flat_white_transp.png" download>download</a>)
        </div>
        <div style="max-width: 200px; padding: 1em 2em 1em 0;">
          <img src="{{site.url}}/img/press/logo_flat_blue_transp.png" style="background: #ccc; width: 100%;" alt="Transparent Logo"/>
          <br/>Transparent blue (<a href="{{site.url}}/img/press/logo_flat_blue_transp.png" download>download</a>)
        </div>
        <div style="max-width: 200px; padding: 1em 2em 1em 0;">
          <img src="{{site.url}}/img/press/logo_flat.png" style="width: 100%;" alt="Transparent Logo"/>
          <br/>Blue background (<a href="{{site.url}}/img/press/logo_flat.png" download>download</a>)
        </div>
      </div>
      <div class="flexcontainer row">
        <div style="max-width: 200px; padding: 1em 2em 1em 0;">
          <img src="{{site.url}}/img/press/logo_flat_text_white_transp.png" style="background: #ccc; width: 100%;" alt="Transparent Logo"/>
          <br/>Transparent white text (<a href="{{site.url}}/img/press/logo_flat_text_white_transp.png" download>download</a>)
        </div>
        <div style="max-width: 200px; padding: 1em 2em 1em 0;">
          <img src="{{site.url}}/img/press/logo_flat_text_blue_transp.png" style="background: #ccc; width: 100%;" alt="Transparent Logo"/>
          <br/>Transparent blue text (<a href="{{site.url}}/img/press/logo_flat_text_blue_transp.png" download>download</a>)
        </div>
        <div style="max-width: 200px; padding: 1em 2em 1em 0;">
          <img src="{{site.url}}/img/press/logo_flat_text.png" style="width: 100%;" alt="Transparent Logo"/>
          <br/>Blue background text (<a href="{{site.url}}/images/press/logo_flat_text.png" download>download</a>)
        </div>
      </div>
    </div>
</section>
