{% if include.link %}
  <a {% if include.lity %}
    data-lity data-lity-target="{{include.link}}"
  {% else %}
    href="{{include.link}}"
  {% endif %}
  ga-on="click"
  {% if include.gacategory %}ga-event-category="{{ include.gacategory }}"{% endif %}
  {% if include.gacategory and include.gaaction %}ga-event-action="{{ include.gaaction }}"{% endif %}
  >
{% endif %}
<div class="customer {{include.size}}">
  <div style="position: relative;">
    {% if include.image %}
      {% include components/lazyImage.html alt=include.alt image=include.image class="card-image" %}
    {% endif %}
  </div>
  <div class="banner">
    <div class="content">
      <span class="card-subtitle">{{ include.subtitle }}</span>
      <p>{{ include.description }}</p>
    </div>
    {% if include.link %}
    <a {% if include.lity %}
      data-lity data-lity-target="{{include.link}}"
    {% else %}
      href="{{include.link}}"
    {% endif %}
    ga-on="click"
    {% if include.gacategory %}ga-event-category="{{ include.gacategory }}"{% endif %}
    {% if include.gacategory and include.gaaction %}ga-event-action="{{ include.gaaction }}"{% endif %}
    >
      <button class="btn btn-blue btn-small">{{include.linktext}}</button>
    </a>
    {% endif %}
  </div>
</div>
{% if include.link %}</a>{% endif %}
