<div id="customers">
  <div class="ui text-center very padded segment basic">
    <h2 class="ui header">{% if page.lang == 'de' %}Unsere Kunden{% else %}Our Customers{% endif %}</h2>
    <div class="ui page four column grid stackable logo-container">
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/buchwien.png" />
        <h3>Buch Wien 2016</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/wunschhaus.png" />
        <h3>Wunschhaus</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/actual.png" />
        <h3>Actual</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/otto.png" />
        <h3>Otto Immobilien</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/internorm.png" />
        <h3>Internorm</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/post.png" />
        <h3>Österreichische Post AG</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/wkw.png" />
        <h3>Wirtschaftskammer Wien</h3>
      </div>
      <div class="column">
        <img class="customer-logo-img" src="{{site.url}}/images/partner/logos/erste.png" />
        <h3>Erste Bank</h3>
      </div>
    </div>
  </div>
  <div class="ui gird four column grid stackable customer-img-container first">
    <div class="column"><img class="customer-img lazyload" src="{site.url}}/images/partner/nova_hosiner.jpg" srcset="{{site.url}}/images/partner/nova_hosiner_small.jpg 250w, {{site.url}}/images/partner/nova_hosiner_medium.jpg 400w, {{site.url}}/images/partner/nova_hosiner.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_otto.jpg" srcset="{{site.url}}/images/partner/nova_otto_small.jpg 250w, {{site.url}}/images/partner/nova_otto_medium.jpg 400w, {{site.url}}/images/partner/nova_otto.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_erste.jpg" srcset="{{site.url}}/images/partner/nova_erste_small.jpg 250w, {{site.url}}/images/partner/nova_erste_medium.jpg 400w, {{site.url}}/images/partner/nova_erste.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_buchwien.jpg" srcset="{{site.url}}/images/partner/nova_buchwien_small.jpg 250w, {{site.url}}/images/partner/nova_buchwien_medium.jpg 400w, {{site.url}}/images/partner/nova_buchwien.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
  </div>
  <div class="ui gird four column grid stackable customer-img-container">
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_wunschhaus.jpg" srcset="{{site.url}}/images/partner/nova_wunschhaus_small.jpg 250w, {{site.url}}/images/partner/nova_wunschhaus_medium.jpg 400w, {{site.url}}/images/partner/nova_wunschhaus.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_post.jpg" srcset="{{site.url}}/images/partner/nova_post_small.jpg 250w, {{site.url}}/images/partner/nova_post_medium.jpg 400w, {{site.url}}/images/partner/nova_post.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_medmedia.jpg" srcset="{{site.url}}/images/partner/nova_medmedia_small.jpg 250w, {{site.url}}/images/partner/nova_medmedia_medium.jpg 400w, {{site.url}}/images/partner/nova_medmedia.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
    <div class="column"><img class="customer-img lazyload" src="{{site.url}}/images/partner/nova_aknoe.jpg" srcset="{{site.url}}/images/partner/nova_aknoe_small.jpg 250w, {{site.url}}/images/partner/nova_aknoe_medium.jpg 400w, {{site.url}}/images/partner/nova_aknoe.jpg 600w" data-sizes="(max-width: 768px) calc(100vw - 6em), (min-width: 768px) calc(.25 * (100vw)), 100vw" /></div>
  </div>
</div>
