<div class="container flexcontainer centereverything">
  <div class="section-text">
    <h1 {% if include.subtitle %}class="has-sub"{% endif %}>
      {{ include.title[page.lang] }}<br/>
      <span class="h1-sub">{{ include.subtitle[page.lang] }}</span>
    </h1>
    <p class="section-description {% if include.paddedTopFix %}section-description-paddedTop-fix{% endif %}">{{ include.description[page.lang] }}</p>
    {% if include.cta %}
      <a href="{{include.ctalink}}">
        <button
          ga-on="click"
          {% if include.gacategory %}ga-event-category="{{ include.gacategory }}"{% endif %}
          {% if include.gacategory and include.gaaction %}ga-event-action="{{ include.gaaction }}"{% endif %}
          class="section-btn">
            {{ include.cta[page.lang] }}
        </button>
      </a>
    {% endif %}
  </div>
  <div class="section-image">
    {% include components/image.html image=include.image %}
  </div>
</div>
