{% for feature in site.data.features %}
  {% capture filename %}{{page.lang}}/features/{{feature.name}}.md{% endcapture %}
  {% if feature.left %}
    <section class="ui padded segment basic full-segment inverted b-segment feature-container left-feature" style="max-height: 450px;">
        <div class="ui page two column stackable grid left-feature">
          <noscript class="ten wide column left-feature feature-height" style="background: url('{{site.url}}/images/features/{{feature.name}}.png');">
          </noscript>
          <div class="ten wide column lazyload left-feature feature-height" data-bgset="{{site.url}}/images/features/{{feature.name}}_small.png [(max-width: 400px)] | {{site.url}}/images/features/{{feature.name}}.png [(min-width: 400px)]" data-sizes="auto">
          </div>
          <div class="six wide column section-padding" style="padding-left: 35px !important;">
            {% capture stuff %}{% include {{filename}} %}{% endcapture %}
            {{ stuff | markdownify }}
          </div>
        </div>
    </section>
  {% else %}
    <section class="ui padded segment basic full-segment a-segment feature-container right-feature" style="max-height: 450px;">
        <div class="ui page two column stackable grid right-feature">
          <div class="six wide column section-padding">
            {% capture stuff %}{% include {{filename}} %}{% endcapture %}
            {{ stuff | markdownify }}
          </div>
          <noscript class="ten wide column right-feature feature-height" style="background: url('{{site.url}}/images/features/{{feature.name}}.png');">
          </noscript>
          <div class="ten wide column lazyload right-feature feature-height" data-bgset="{{site.url}}/images/features/{{feature.name}}_small.png [(max-width: 400px)] | {{site.url}}/images/features/{{feature.name}}.png [(min-width: 400px)]" data-sizes="auto">
          </div>
        </div>
    </section>
  {% endif %}
{% endfor %}
