<div class="column" style="margin-top: 100px !important; text-align: center;">
  <!--<div class="ui three column grid stackable">
      <div class="computer tablet only four wide column"><img src="{{site.url}}/images/novatouch_top_2_1.png" srcset="{{site.url}}/images/novatouch_top_2_1_small.png 250w, {{site.url}}/images/novatouch_top_2_1_medium.png 400w, {{site.url}}/images/novatouch_top_2_1.png 500w" sizes="(min-width: 768px) calc((((100vw * .7) * .25) - 2rem) * .9), 100vw" width="90%" style="margin-top: 100px;"></div>
      <div class="eight wide column"><img src="{{site.url}}/images/novatouch_top_2_2.png" srcset="{{site.url}}/images/novatouch_top_2_2_small.png 250w, {{site.url}}/images/novatouch_top_2_2_medium.png 400w, {{site.url}}/images/novatouch_top_2_2.png 500w" sizes="(min-width: 768px) calc((((100vw * .7) * .5) - 2rem) * .8), (max-width: 768px) 80vw, 100vw" width="80%"></div>
      <div class="computer tablet only four wide column"><img src="{{site.url}}/images/novatouch_top_2_3.png" srcset="{{site.url}}/images/novatouch_top_2_3_small.png 250w, {{site.url}}/images/novatouch_top_2_3_medium.png 400w, {{site.url}}/images/novatouch_top_2_3.png 500w" sizes="(min-width: 768px) calc((((100vw * .7) * .25) - 2rem) * .9), 100vw" width="90%" style="margin-top: 100px;"></div>
  </div>-->
  <br><br>
  <div id="video-wrapper">
    <iframe width="840" height="472" src="https://www.youtube.com/embed/{% if page.lang == 'de' %}0DydF2SkYYQ{% else %}nhPHPHCceFQ{%endif%}?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div data-event-category="quote" data-event-action="open" class="ui huge inverted blue button get-quote">
    {% if page.lang == 'de' %}
      Preis für Miete oder Kauf anfragen
    {% else %}
      Get Pricing for Rental or Sale
    {% endif %}
  </div>
</div>

<!--<div class="ui segment basic features">
  <div class="ui three column grid stackable">
    <div class="four wide column" style="text-align: center;">
      <div class="ui icon header inverted">
          <h2 class="ui header number">
            1
          </h2>
        <div class="content inverted">
          {% capture stuff %}{% include {{page.lang}}/features/one.md %}{% endcapture %}
          {{ stuff | markdownify }}
        </div>
      </div>
    </div>
    <div class="eight wide column" style="text-align: center;">
      <div class="ui icon header inverted">
          <h2 class="ui header number">
            2
          </h2>
        <div class="content inverted">
          {% capture stuff %}{% include {{page.lang}}/features/two.md %}{% endcapture %}
          {{ stuff | markdownify }}
        </div>
      </div>
    </div>
    <div class="four wide column" style="text-align: center;">
      <div class="ui icon header inverted">
          <h2 class="ui header number">
            3
          </h2>
        <div class="content inverted">
          {% capture stuff %}{% include {{page.lang}}/features/three.md %}{% endcapture %}
          {{ stuff | markdownify }}
        </div>
      </div>
    </div>
  </div>
</div>-->
