<header id="intro-header" class="header-skew-wrapper {{include.class}}">
  <div class="header-skew">
    <div class="container content flexcontainer row center">
      {% if include.title or include.subtitle or include.primarytext or include.secondarytext %}
        <div class="header-image-wrapper">
      {% endif %}
      {% if include.imagelink %}
        <a
          ga-on="click"
          ga-event-category={{include.gacategory}}
          ga-event-action={{include.primarygaaction}}
          {% if include.primarylity %}
            data-lity data-lity-target={{include.primarylink[page.lang]}}
          {% else %}
            href={{include.imagelink[page.lang]}}
          {% endif %}>
      {% endif %}
          {% include components/image.html image=include.image class="header-image" nolazy=true %}
      {% if include.imagelink %}
        </a>
      {% endif %}
      {% if include.title or include.subtitle or include.primarytext or include.secondarytext %}
        </div>
          <div class="header-title-wrapper">
              <h1 class="h1-white {% if include.subtitle %}has-sub{% endif %}">
                {{ include.title[page.lang] }}<br/>
                {% if include.subtitle %}<span class="h1-white-sub">{{ include.subtitle[page.lang] }}</span>{% endif %}
              </h1>
              {% if include.primarytext %}
                {% if include.primarylity != true %}<a href={{include.primarylink}}>{% endif %}
                  <button
                    ga-on="click"
                    ga-event-category={{include.gacategory}}
                    ga-event-action={{include.primarygaaction}}
                    {% if include.primarylity %}
                      data-lity data-lity-target={{include.primarylink[page.lang]}}
                    {% endif %}
                    class="btn-orange section-btn cta-highlight">
                      {{ include.primarytext[page.lang] }}
                  </button>
                {% if include.primarylity != true %}</a>{% endif %}
              {% endif %}
              {% if include.secondarytext %}
                <a href={{include.secondarylink}}>
                  <button
                    ga-on="click"
                    ga-event-category={{include.gacategory}}
                    ga-event-action={{include.secondarygaaction}}
                    class="btn-white btn-next section-btn cta-highlight">
                      {{ include.secondarytext[page.lang] }}
                  </button>
                </a>
              {% endif %}
          </div>
      {% endif %}
    </div>
  </div>
  {% if include.herotext or include.herodescription %}
    <div class="container">
      <div class="hero-wrapper">
        {% if include.herotext %}<p class="hero-text">{{ include.herotext[page.lang] }}</p>{% endif %}
        {% if include.herodescription %}<p class="hero-description">{{ include.herodescription[page.lang] }}</p>{% endif %}
      </div>
    </div>
  {% endif %}
</header>
