<header id="intro-header" class="header-skew-wrapper {{include.class}}">
    <div class="intro-skew">
      <div class="background">
        <div id="moodvideo-fallback" style="background-image: url({{ include.img }})"></div>
        <video muted autoplay loop playsinline id="moodvideo" style="display: none">
          <source src="{{ include.video }}" type="video/mp4">
        </video>
      </div>
      <section class="overlay">
        {{ site.data.pages.home.vision[page.lang] }}
        <div class="caret"><div class="character">&#8248;</div></div>
      </section>
    </div>
  </header>
  