<header id="intro-header" class="header-skew-wrapper {{include.class}}">
    <div class="intro-skew">
      <div class="background">
        <video muted autoplay loop playsinline id="moodvideo">
          <source src="{{ include.video }}.mp4" type="video/mp4">
          <img src="{{ include.video }}.gif">
        </video>
      </div>
      <section class="overlay">
        {{ site.data.pages.home.vision[page.lang] }}
        <div class="caret">&#8248;</div>
      </section>
    </div>
  </header>
  