<section id="newsletter">
  <div class="container">
    <div class="popout {% if include.alone %}alone {% else %}between {% endif %}block-center flexcontainer row middle space-around">
      <div class="newsletter-description">
        <h1>{{site.data.base.newsletter.headline[page.lang]}}</h1>
        <p>{{site.data.base.newsletter.description[page.lang]}}</p>
      </div>
      <div>
        <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate="">
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="{{ site.data.base.texts.email[page.lang] }}" />
            <button data-event-category="newsletter" data-event-action="subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-blue btn-next">
              {{site.data.base.texts.subscribe[page.lang]}}
            </button>
          </div>
        </form>
        <div class="newsletter-response"></div>
      </div>
    </div>
  </div>
</section>
