<section id="process">
  <div class="container">
    <h1 class="text-center section-title">{{site.data.process.title[page.lang]}}</h1>
    <div class="item intro">
      Gerne bieten wir für unsere
      {% if include.hardwareFirst %}
        <a href="/{{page.lang}}/hardware/">Hardware</a> auch perfekt angepasste
        <a href="/{{page.lang}}/software/">Digitallösungen</a>
      {% else %}
        <a href="/{{page.lang}}/software/">Digitallösungen</a> auch perfekt angepasste
        <a href="/{{page.lang}}/hardware/">Hardware</a>, wie Touch-Bildschirme,
      {% endif %}
      an. 
      {{site.data.process.description[page.lang]}}
    </div>
    {% for process in site.data.process.items %}
      <div class="item">
        <div class="circle">{% include {{process.image}} %}</div>
        <div class="content">
          <div class="title">{{process.title[[page.lang]]}}</div>
          <div class="text">{{process.description[[page.lang]]}}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
