<div class="ui inverted vertical very padded segment basic">
  <div class="ui page two column grid stackable">
    <div class="column">
      {% capture stuff %}{% include {{page.lang}}/social.md %}{% endcapture %}
      {{ stuff | markdownify }}
    </div>
    <div class="column icons">
      <a href="https://facebook.com/TouchLay" class="ui massive facebook icon button">
        <i class="facebook icon"></i>
      </a>
      <a href="https://twitter.com/TouchLay" class="ui massive twitter icon button">
        <i class="twitter icon"></i>
      </a><br>
      <a href="https://plus.google.com/+TouchLay" class="ui massive google plus icon button" style="margin-top: 8px;">
        <i class="google plus icon"></i>
      </a>
      <a href="https://youtube.com/user/touchlay" class="ui massive youtube icon button">
        <i class="youtube icon"></i>
      </a>
    </div>
  </div>
</div>
