<header class="bg-gray">
  <div class="flexcontainer row center" style="padding-top: 2em;">
    {% include components/image.html image="/img/team-image-large.jpg" %}
  </div>
</header>

<section id="team-members" class="container padded">
  <div class="flexcontainer row center space-between" style="text-align: center;">
    <div style="padding: 0.5em 2em 0.5em 2em;"><a href="mailto:gerhard.schelkshorn@touchlay.com" ga-on="click" ga-event-category="team" ga-event-action="gerhard">ING. GERHARD SCHELKSHORN</a></div>
    <div style="padding: 0.5em 2em 0.5em 2em;"><a href="mailto:daniel.bugl@touchlay.com" ga-on="click" ga-event-category="team" ga-event-action="daniel">DANIEL BUGL</a></div>
    <div style="padding: 0.5em 2em 0.5em 2em;"><a href="mailto:thomas.andre@touchlay.com" ga-on="click" ga-event-category="team" ga-event-action="thomas">ING. THOMAS ANDRE</a></div>
    <div style="padding: 0.5em 2em 0.5em 2em;"><a href="mailto:georg.schelkshorn@touchlay.com" ga-on="click" ga-event-category="team" ga-event-action="georg">GEORG SCHELKSHORN</a></div>
  </div>
</section>

<section id="team-description" class="padded">
  <div class="container">
    <h1 class="hero-text" style="margin-bottom: 1em;">{{site.data.pages.about.team.headline[page.lang]}}</h1>
    <p style="margin-bottom: 1em; line-height: 1.5em; font-weight: 300;">{{site.data.pages.about.team.description[page.lang]}}</p>
  </div>
</section>

{% include components/newsletter.html alone=true %}
